h1{
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  font-size: 46px;
  display: block;
  font-weight: lighter;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  display: block;
}

#display{
  height: 310px;
  width:310px;
  display: inline-block;
  float: left;
}
  #container{
    display: inline-block;
    float:left;
    padding-left:300px;
  }
  #column1,#column2,#column3{
    display: inline;
    float: left;
  }
  .border{
    height:100px;
    width:100px;
    border: 5px Pink;
    border-style: solid;
  }

  #large{
    height: 300px;
    width:300px;
    border: 5px Pink;
    border-style: solid;
    vertical-align: center;
    float: left;

  }
